.maze-data {
  display: none;
}
canvas {
  border: 2px solid var(--color-gradient-primary);
  border-radius: 5px;
  background: var(--color-maze-background);
}
.win-modal .ion-page {
  padding: 36px;
  line-height: 2;
}
ion-select {
  border: 1px solid var(--color-gradient-primary);
  width: fit-content;
  margin-bottom: 24px;
}
.centered-container {
  display: flex;
  justify-content: center;
}
.d-pad {
  margin-top: 24px;
  display: flex;
  flex-direction: column;
  width: fit-content;
}
.horizontal-buttons {
  display: flex;
  flex-direction: row;
}
