.maze-data {
  display: none;
}
canvas {
  border: 2px solid var(--color-gradient-primary);
  border-radius: 5px;
  background: var(--color-maze-background);
}
.win-modal .ion-page {
  padding: 36px;
  line-height: 2;
}
ion-select {
  border: 1px solid var(--color-gradient-primary);
  width: fit-content;
  margin-bottom: 24px;
}
.centered-container {
  display: flex;
  justify-content: center;
}
.d-pad {
  margin-top: 24px;
  display: flex;
  flex-direction: column;
  width: fit-content;
}
.horizontal-buttons {
  display: flex;
  flex-direction: row;
}
ion-button button {
  background: var(--color-gradient-secondary);
}
.hide {
  display: none;
}
.loader {
  display: inline-block;
  position: relative;
  width: 100px;
  height: 100px;
}
.loader div {
  display: inline-block;
  position: absolute;
  left: 0px;
  width: 16px;
  background: var(--color-gradient-primary);
  animation: loader 1.5s ease-out infinite;
}
.loader div:nth-child(1) {
  left: 0px;
  animation-delay: -1s;
}
.loader div:nth-child(2) {
  left: 42px;
  animation-delay: -0.5s;
}
.loader div:nth-child(3) {
  left: 84px;
  animation-delay: 0;
}
@keyframes loader {
  0% {
    top: 8px;
    height: 64px;
  }
  50%,
  100% {
    top: 24px;
    height: 32px;
  }
}
