html, body {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

body {
  background: #141414;
  color: #BE231D;
  text-align: center;
  font-family: 'Press Start 2P', cursive;
  margin:0;
}

header, footer {
  background:#BE231D;
  color: #141414;
  padding-top: 24px;
  padding-bottom: 24px;
}

header a {
  text-decoration: none;
  color: #141414;
}

footer p {
  margin: 0;
  padding: 0;
}

h1 {
  font-size: 3.33rem;
}

#maze-canvas {
  border: 2px solid #0040F5;
  border-radius: 5px;
}

#maze-data {
  display: none;
}