:root {
  --color-primary: #BE231D;
  --color-secondary: #141414;
  --color-gradient-primary: #811A16;
  --color-gradient-secondary: #1f1f1f;
}


html, body {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

body {
  background: radial-gradient(circle, var(--color-secondary), var(--color-gradient-secondary));
  color: var(--color-primary);
  text-align: center;
  font-family: 'Press Start 2P', cursive;
  margin:0;
}

header, footer {
  /*#811A16*/
  background:linear-gradient(to right, var(--color-primary), var(--color-gradient-primary));
  background-size: 400% 400%;
  color: var(--color-secondary);
  padding-top: 24px;
  padding-bottom: 24px;
  animation: header-scroll 5s linear 2s infinite alternate;
}

header a {
  text-decoration: none;
  color: var(--color-secondary);
  padding-left: 16px;
  padding-right: 16px;
}

footer p {
  margin: 0;
  padding: 0;
}

#maze-container a {
  text-decoration: none;
  color: var(--color-primary);
}
#maze-container a:hover {
  color: var(--color-gradient-primary);
}

h1 {
  font-size: 3.33rem;
}

#maze-canvas {
  border: 2px solid #0040F5;
  border-radius: 5px;
}

#maze-data {
  display: none;
}

@keyframes header-scroll {
  0% {
    background-position: 0% 0%;
  }
  50% {
    background-position: 100% 0%;
  }
  100% {
    background-position: 0% 0%;
  }
}
