<!DOCTYPE html>
<html>

<head>
  <title>Random Mazes</title>
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="/static/styles.css">
</head>

<body>
  <header>
    <a href="/">Home</a>
    <a href="/about">About</a>
    <a href="/maze/1">Play</a>
  </header>

  {% block content %}{% endblock %}

  <footer>
    <p>WILDEBEESTS | Copyright 2021</p>
  </footer>
</body>

</html>