body * {
  color: var(--color-primary);
}
.home-content {
  width: 50%;
  margin: auto;
  line-height: 2;
}
.home-content a:hover {
  color: var(--color-maze-bricks);
}
#title {
  word-wrap: break-word !important;
}
